<footer class="bg-primary-400">
  <div class="container-lg d-lg-block d-none ">
    <!-- 電腦版 footer -->
    <div class=" border-bottom py-8 ">
      <div class="d-flex justify-content-between">
      <div class="col-4 py-8">
      <ul class="nav nav-underline d-flex justify-content-star gap-4">
        <li class="nav-item  me-0 ">
          <a class=" text-center  " aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">關於我們</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">隱私條款</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">合作提案</a>
        </li>
      </ul>
      </div>

      <div class="col-4 py-8">
      <a class="d-flex justify-content-center" href="index.html">
        <img src="/assets/images/index/Logotype-1字白色.svg" alt="logo" />
      </a>
      </div>

      <div class="col-4 py-8">
      <ul class="d-flex justify-content-end my-0">
        <li>
          <a class="me-4" href="#">
            <img src="/assets/images/index/Button-fb.png" alt="fb-logo" />
          </a>
        </li>
        <li class="py-0">
          <a class="me-4" href="#">
            <img src="/assets/images/index/Button-ig.png" alt="ig-logo" />
          </a>
        </li>
        <li class="py-0">
          <a href="#">
            <img src="/assets/images/index/Button-line.png" alt="line-logo" />
          </a>
        </li>
      </ul>
      </div>
      </div>

      <div class="col-12 copyright py-8 border-top border-1">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
    </div>
    </div>



    <!-- 手機板 footer -->
    <div class="justify-content-between border-bottom py-12  d-block d-lg-none">
      <!-- LOGO -->
        <div class="col-12 py-8">
      <a class="d-flex justify-content-center" href="index.html">
        <img src="/assets/images/index/Logotype-1字白色.svg" alt="logo" />
      </a>
      </div>
    
     <div class="col-12 py-4 px-3">
      <ul class="nav nav-underline d-flex justify-content-between  ">
        <li class="nav-item  me-0 ">
          <a class=" text-center  " aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">關於我們</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">隱私條款</a>
        </li>
        <li class="nav-item me-0 ">
          <a class=" text-center " href="#">合作提案</a>
        </li>
      </ul>
      </div>
      <div class="col-12 py-8 ">
      <ul class="d-flex justify-content-center my-0">
        <li>
          <a class="py-0 me-4" href="#">
            <img src="/assets/images/index/Button-fb.png" alt="fb-logo" />
          </a>
        </li>
        <li class="py-0">
          <a class="me-4" href="#">
            <img src="/assets/images/index/Button-ig.png" alt="ig-logo" />
          </a>
        </li>
        <li class="py-0">
          <a href="#">
            <img src="/assets/images/index/Button-line.png" alt="line-logo" />
          </a>
        </li>
      </ul>
      </div>


     <div class="col-12 copyright pt-8 pb-12 border-top border-1">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
    
    </div>


</footer>
