<footer>
  <div class="container">
    <div class="d-flex justify-content-between border-bottom py-8">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">隱私條款</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">合作提案</a>
        </li>
      </ul>
      <a class="" href="index.html">
        <img src="/assets/images/index/Logotype-1字白色.svg" alt="logo" />
      </a>
      <ul class="d-flex aline-center my-0">
        <li>
          <a class="me-4" href="#">
            <img src="/assets/images/index/Button-fb.png" alt="fb-logo" />
          </a>
        </li>
        <li class="py-0">
          <a class="me-4" href="#">
            <img src="/assets/images/index/Button-ig.png" alt="ig-logo" />
          </a>
        </li>
        <li class="py-0">
          <a href="#">
            <img src="/assets/images/index/Button-line.png" alt="line-logo" />
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright py-8">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
  </div>
</footer>
