<nav class="navbar navbar-expand-lg bg-white py-0 fixed-top mx-0 px-0">
  <div class="container navbar-top">
    <a class="navbar-brand p-0" href="#">
      <img src="/assets/images/index/Logotype.svg" alt="logo" />
    </a>
    <!-- 手機板 header -->
    <div class="d-flex align-items-center">
     <!-- 1搜尋 OffcanvasMenu -->
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasMenu"
      aria-controls="offcanvasMenu"
      aria-label="Toggle menu">
     <i class="text-primary-300" data-lucide="search" style="width: 24px;height: 24px;"></i>
    </button>
    <!-- 2購物車 icon -->
    <button class="border-0 shadow-none bg-white">
     <i class="text-primary-300 " data-lucide="handbag" style="width: 24px;height: 24px; "></i>
    </button>
    <!--  3主選單  search-->
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasSearch"
      aria-controls="offcanvasSearch"
      aria-label="Toggle search">
      <i class="text-primary-300 " data-lucide="menu" style="width: 24px;height: 24px;"></i>
    </button>
    </div>
    <!--主選單 search -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true"  data-bs-backdrop="false" tabindex="-1" id="offcanvasMenu" aria-labelledby="Toggle menu">
      <div class="offcanvas-header py-0">
        <a class="navbar-brand p-0" href="#">
          <img src="/assets/images/index/Logotype.svg" alt="logo" />
        </a>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button class="btn-close"  type="button "  data-bs-dismiss="offcanvas" aria-label="Close" id="offcanvasMenu" style="width:48px;height: 48px;">
        </button>
      </div>
    <!-- 手機板 Menu選單 -->
    <div class="d-lg-none d-block offcanvas-body">
      <div>大家都在找</div>
        <ul class="d-flex">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div>熱門分類</div>
        <ul class="d-flex">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
    </div>
    
  
    <!-- 電腦版選單 -->
    <div class=" d-none d-lg-block d-lg-flex align-items-center">
            <ul class="navbar-nav underline ms-auto me-3 gap-0">
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2" aria-current="page" href="#">找寶物</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2 paragraph-body" href="#">我要分享</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2 paragraph-body" href="#">愛心轉送</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2 paragraph-body" href="#">爸媽交流站</a>
              </li>
              <li class="nav-item py-0 me-0">
                <a class="nav-link px-0 pt-3 pb-2 paragraph-body" href="#">育兒資源</a>
              </li>
            </ul>
            <a class="p-0 me-3 btn button-ghost-default-text rounded-circle border-0 d-flex align-items-center justify-content-center " style="width:48px;height: 48px;" href="shoppingcar.html">
              <i class="i-icon-primary-300 " data-lucide="handbag" ></i>
            </a>
            <a class="d-flex px-4 py-3 btn button-ghost-default-text rounded-pill" href="#">
              <i class="me-2 i-icon-primary-300 " data-lucide="baby"></i>
              <div class=" " href="#">登入/註冊</div>
            </a>
    </div>
    
    
    
          
    
    
        <!--搜尋 Offcanvas -->
        <div
          class="offcanvas offcanvas-end"
          data-bs-scroll="true"
          data-bs-backdrop="false"
          tabindex="-1"
          id="offcanvasSearch"
          aria-labelledby="Toggle search">
          <div class="offcanvas-header py-0">
            <a class="navbar-brand p-0" href="#">
              <img src="/assets/images/index/Logotype.svg" alt="logo" />
            </a>
          <button 
              class="btn-close"
              type="button "
              data-bs-dismiss="offcanvas"
              aria-label="Close"
              id="offcanvasSearch" style="width:48px;height: 48px;">
              </i>
          </button>   
          </div>
          
    
    <!-- 手機板 選單 -->
    <div class="d-lg-none d-block offcanvas-body">
            <ul class="text-center mt-12">
              <li class="nav-item py-3 mb-8 me-0">
                <a class="paragraph-body" aria-current="page" href="#">找寶物</a>          
              </li>
              <li class="nav-item py-3 mb-8 me-0">
                <a class="paragraph-body" href="#">我要分享</a>
              </li>
              <li class="nav-item py-3 mb-8 me-0">
                <a class="paragraph-body" href="#">愛心轉送</a>
              </li>
              <li class="nav-item py-3 mb-8 me-0">
                <a class="paragraph-body" href="#">爸媽交流站</a>
              </li>
              <li class="nav-item py-3 mb-8 me-0">
                <a class="paragraph-body" href="#">育兒資源</a>
              </li>
            </ul>
    
            <a class="sticky-bottom d-flex justify-content-center py-9 border-1 border-top bg-white" href="#">
              <i class="me-2 i-icon-primary-300 " data-lucide="baby"></i>
              <div class=" text-gray-700" href="#">登入/註冊</div>
            </a>
          </div>
    
    
          </div>  
</nav>
    

      
    
 
