// *, *::before, *::after { 
//     outline: 1px solid #189EC7; }

.footer {
  background: #6abfdd;
}
.border-bottom {
  border-bottom: 1px solid #e3f4f8;
}
.nav a {
  padding: 0;
  color: $primary-50;
  font-weight: 700;
}
.copyright {
  color: $primary-50;
  font-size: 14px;
  text-align: center;
}
.gap-29{
  gap:29px;
}
.text-link-hover{
  color: $primary-50;
  &:hover{
    color: $white;
  }
}

.icon-link-hover{
  color: $white;
  background-color: #3FAAD5; 
  padding: 14px;  
  height: 48px; 
  width: 48px;
  border-radius: 100%;
  &:hover {
  background-color:$primary-600;
 
}}
