// *, *::before, *::after { 
//     outline: 1px solid #189EC7; }

.navbar-brand {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 0;
}
.navbar-nav {
  margin-right: 8px;
}
.nav-item {
  margin-right: 32px;
  font-weight: 400;
  padding-top: 12px;
  padding-bottom: 8px;

  a {
    color: #787f85;
  }
}
.shoppingbag {
  color: $primary-300;
}
.underline .nav-link {
  position: relative;
  overflow: hidden;
}

.underline .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0; /* 線條位置 */
  left: 50%; /* 從中間開始 */
  transform: translateX(-50%) scaleX(0); /* 縮到 0 */
  transform-origin: center;
  width: 100%;
  height: 4px; /* 線條粗細 */
  background-color: $secondary-200; /* 線條顏色，可改成主色 */
  border-radius: 2px;
  transition: transform 0.3s ease;
}

/* 滑鼠 hover 時展開 */
.underline .nav-link:hover::after,
.underline .nav-link.active::after {
  transform: translateX(-50%) scaleX(1);
}

.i-icon-primary-300{
  color: $primary-300;
}

.btn-close{
  color: $primary-300 !important;
  &:hover{
    border-radius: none !important;
  }
  
}
  .from-button{
    position: absolute;
    width:40px; 
    height:40px;
    top: 32px;
    right: 21px;
    border-radius: 100%;
  }