.title-bg-color{
    padding-bottom: 46.8px;
    background-color: $gray-50;
}
.title-banner-md{
    background-image:url(/assets/images/index/banner_desktop.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 880px;
    border-radius: 0px 0px 128px 128px;
    .title-depiction{
       left: 50%;           /* 從中線開始 */
       transform: none;     /* 不要 translateX */
       overflow: hidden;    /* 超過就隱藏 */
   } 
    .title-img-md{
        width: 564px;
        
    }
}
.lign-items-start{
    padding-top: 152px;
}

.title-banner{
    background-image:url(/assets/images/index/banner_mobile.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    border-radius: 0px 0px 48px 48px;
    height: 675px;
    width: 100%;
    .title-img-md{
    width: 192px;
    }
}
.search-bar{
   margin-top: -96px;
   .button-text {
    color: $gray-600;
}
}
// 收尋攔
.classification{
    width: 212px;
}
.translate-middle{
        transform: translate(-79%, -13%) !important;
}
.dropdown-toggle::after {
  display: none !important;
}
//熱門分類
.hot-card{
    padding: 30.5px 0px;
    box-shadow: $box-shadow-primary;
    color: $gray-600;
    position: relative; 
    transition: background 1.5s ease, color 1.5s ease, box-shadow 0.3s ease;
    &:hover{
        background-image: url(/assets/images/index/babyclothes.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: none;
        .text-color-gray-600 {
            color: $white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 2; // 文字蓋在遮罩上
            }
        .hot-card-img{
            visibility: hidden;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0; // top:0; right:0; bottom:0; left:0 的 shorthand
            background: rgba($black, 0.2);
            z-index: 1; // 確保遮罩在背景上方
            border-radius: 40px;
            box-shadow: inset 0px 4px 0px 0px #00000033;
            opacity: 0;               // 預設隱藏
             
        }
         &:hover::before {
            opacity: 1;
        }
            .hot-card-img {
                display: none;
        }
    }
}
.baby-clothes:hover{
    background-image: url(/assets/images/index/babyclothes.png);            
}
.boy-clothes:hover{
    background-image: url(/assets/images/index/boyclothes.png); 
}
.girl-clothes:hover{
    background-image: url(/assets/images/index/girlclothes.png);
}
.toy:hover{
    background-image: url(/assets/images/index/toy.png);
}
.books:hover{
    background-image: url(/assets/images/index/books.png);
}
.mom-supplies:hover{
    background-image: url(/assets/images/index/Mom-supplies.png);
}
.maternity-supplies:hover{
    background-image: url(/assets/images/index/maternity-supplies.png);
} 
.safety-seat:hover{
    background-image: url(/assets/images/index/safety-seat.png);
} 
// 愛心轉送

.section02-bg{
    background-image:url(/assets/images/index/section02_background_desktop.jpg) ;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    .section02-pb{
        padding-bottom: 251.19px;
    }
}
.bg-btn-img{
    position: absolute;
    background-image: url(/assets/images/index/Vector.svg),
                      url(/assets/images/index/Donation.svg);
    background-repeat: no-repeat, repeat;
    background-position: center calc(100% + -4px), center;
    background-size: contain, cover;
    width: 205.8125px;
    height: 63px;
  
}


.section04_border_bottom {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    background-size: cover;
}

//
.product-rounded{
    border-radius: 40px;
    overflow: hidden;
}

//寶物分享 上弧圖
.section04_background_desktop{
    background-image: url(/assets/images/index/section04_background_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: none;
}

//寶物分享 車廂
.train_car{
    background-image: url(/BBStation/assets/images/index/train_wheel.png), url(/BBStation/assets/images/index/train_wheel.png), url(/BBStation/assets/images/index/train_car.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 80px 80px, 80px 80px, 100%;
    background-position: 48px 275px, 289px 275px, 0px;
}
.lucide-star {
  fill: currentColor;   /* 使用文字顏色做為填滿色 */
}
//更多商品 電腦版 hover
.product-card-link {
        .product-img{
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        &::after {
        content: "";
        position: absolute;
        inset: 0; /* top, right, bottom, left = 0 */
        background-color: rgba(0, 0, 0, 0.4); /* 黑色半透明 */
        opacity: 0;
        }
        &:hover::after {
        opacity: 1;
        }
        }  
}
.product-card-title {
        display: block;
        &:hover{
           color: #189EC7;
        }
        }
.scroll-button button {
  color: $gray-500;
  background-color: $white;
}
.scroll-button button.disabled{
    color: $gray-500;
    background-color: $white;
    opacity: .5;   

.scroll-button button:disabled {
    color: $gray-500;
    background-color: $white;
}
}
.scroll-button button:not(.disabled) {
    color: $gray-500;
    background-color: $white;
}
.scroll-button button:not(.disabled):hover {
  color: $gray-800;
  background-color: #F2F2F4;
  box-shadow: inset 0px 4px 0px 0px #00000033;
}


//寶物分享 隱藏X軸

.screen{
    -webkit-overflow-scrolling: touch; /* iOS 慣性滾動 */
    scrollbar-width: none; 
    display: none;
    .screen::-webkit-scrollbar {
        display: none;
    }     
}

@media (max-width:768px){
    //手機板-熱門收尋
.hot-card{
    &:hover{
        background-image: none;
        box-shadow: $box-shadow-primary;
        .hot-card-img{
            display: block;
            visibility: visible;
        }
        .text-color-gray-600{
            color:$gray-600;
            text-shadow: none;
            }
    &::before {
        background: none;
        box-shadow: none;
        opacity: 0;
        transition: none;  
            }   
         }
        }
        .section02-bg{
        background-image: url(/assets/images/index/section02_background_mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: none;
        .section02-pb{
            padding-bottom: 372px;
        }
        } 
       // 愛心轉送 
      .bg-btn-img{
        width: 351px;
        height: 206px;
        img{
            opacity:1 !important;
        }
      } 
.section04_background_desktop{
    display: none;
}
.section04_background_mobile{
    display: block;
    background-image: url(/assets/images/index/section04_background_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: none;
    margin-bottom: 200px;
}
      
}

@media (max-width:576px){
    .section04_background_mobile{
    display: block;
    background-image: url(/assets/images/index/section04_background_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: none;
    height: 780px;
    margin-bottom: 34px;
}

}
        


