.rounded-circle {
  width: 32px;
  height: 32px;
  color: $primary-500;
  border-color: $primary-500;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.car-step {
  font-size: 14px;
}
table {
  //   border-radius: 40px;
  border-top-left-radius: 12px;
  border-radius: 0 40px 40px 0;
}
.form-headfoot {
  // border-top-left-radius: 40px;
  border-radius: 40px 0 0 8px;
}
.shopping-item {
  border-bottom: 1px solid #dee2e6;
}
.shopping-item th,
td {
  width: 198px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
}
.item-status {
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  background-color: $highligh-300;
}
.product-quantity {
  color: #ced4da;
  border: 1px solid #dee2e6;
  border-radius: 24px;
  background-color: #f2f2f4;
  width: 175px;
}
// 消除上下箭頭
.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

