<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppingcar</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container px-0">
      <!-- 購物流程步驟 -->
      <div class="d-flex justify-content-center py-10 border-bottom border-16">
        <div class="text-center">
          <span
            class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
          >
            01
          </span>
          <p class="car-step">確認​購物​車</p>
        </div>
        <div class="d-flex text-center">
          <div class="mx-2">
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              02
            </span>
            <p class="car-step">付款​與運送​方式</p>
          </div>
        </div>
        <div class="d-flex text-center">
          <div>
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              03
            </span>
            <p class="car-step">填寫寄送​資料​</p>
          </div>
        </div>
        <div class="d-flex text-center">
          <div>
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              04
            </span>
            <p class="car-step">完成​訂購​</p>
          </div>
        </div>
      </div>
      <!-- 購物車內容 -->
      <div class="pt-16 pb-20">
        <!-- 訂單確認 -->
        <div>
          <h3 class="mb-12">購物籃｜訂單確認</h3>
          <div>
            <table class="table table-hover">
              <thead class="table-light form-headfoot">
                <tr class="shopping-item px-6">
                  <th scope="col">
                    <img
                      class="rounded-circle m-3"
                      src="/assets/images/購物車/Photo.png"
                      alt="baby"
                    />雙寶媽
                  </th>
                  <th scope="col">商品訊息</th>
                  <th scope="col">狀態</th>
                  <th scope="col">單價</th>
                  <th scope="col">數量</th>
                  <th scope="col">總計</th>
                  <th scope="col">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="shopping-item px-6">
                  <th scope="row">
                    <input
                      class="form-check-input-lg text-center align-middle"
                      type="checkbox"
                      name="addToCart"
                      id="checkboxNoLabel"
                      value=""
                      aria-label="加入購物車"
                    />
                    <img
                      class="my-4 ms-6"
                      src="/assets/images/購物車/Image-背巾.png"
                      alt="多功能寶寶揹巾"
                    />
                  </th>
                  <td>多功能寶寶揹巾</td>
                  <td><span class="item-status">全新</span></td>
                  <td>NT$ 1,280</td>
                  <td>
                    <div
                      class="input-group quantity-selector product-quantity"
                      style="max-width: 175px"
                    >
                      <button class="btn btn-outline-gray-300" type="button">
                        一
                      </button>
                      <input
                        type="number"
                        class="form-control text-center qty-input"
                        value="1"
                        min="1"
                        max="2"
                      />
                      <button class="btn btn-outline-gray-300" type="button">
                        十
                      </button>
                    </div>
                  </td>
                  <td>NT$ 1,280</td>
                  <td>刪除</td>
                </tr>
                <tr class="shopping-item px-6">
                  <th scope="row">
                    <input
                      class="form-check-input-lg text-center align-middle"
                      type="checkbox"
                      name="addToCart"
                      id="checkboxNoLabel"
                      value=""
                      aria-label="加入購物車"
                    />
                    <img
                      class="my-4 ms-6"
                      src="/assets/images/購物車/Image-泳衣.png"
                      alt="嬰兒連身泳衣"
                    />
                  </th>
                  <td>嬰兒連身泳衣</td>
                  <td><span class="item-status">九成新</span></td>
                  <td>NT$ 100</td>
                  <td>
                    <div
                      class="input-group quantity-selector product-quantity"
                      style="max-width: 175px"
                    >
                      <button class="btn btn-outline-gray-300" type="button">
                        一
                      </button>
                      <input
                        type="number"
                        class="form-control text-center qty-input"
                        value="1"
                        min="1"
                        max="2"
                      />
                      <button class="btn btn-outline-gray-300" type="button">
                        十
                      </button>
                    </div>
                  </td>
                  <td>NT$ 100</td>
                  <td>刪除</td>
                </tr>
              </tbody>
              <tfoot class="table-light">
                <tr class="shopping-item px-6">
                  <th scope="row">
                    <input
                      class="form-check-input-lg text-center align-middle"
                      type="checkbox"
                      name="addToCart"
                      id="checkboxNoLabel"
                      value=""
                      aria-label="加入購物車"
                    />
                    <span class="my-4 ms-6">全選2件 </span>
                  </th>
                  <div>
                    <td colspan="5" class="text-end h6">小計</td>
                    <td class="h5 text-start ps-3">NT$ 1,380</td>
                  </div>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- 加購商品 -->
        <div></div>
        <!-- 結帳金額 -->
        <div></div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>